<title>
  LOGIN VIEW
</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form }}
    <br><hr>
    <button type="submit" class="btn btn-primary">LogIn</button>
    <a href="{% url 'core:index' %}" class="btn btn-warning">Cancel</a>
  </form>
  <p>No trabajo aqui pero me interesa <a href="{% url 'sesion:signup' %}" class="btn btn-link">Aqui</a></p>
  <p>No trabajo aqui <a href="{% url 'core:index' %}" class="btn btn-link">Aqui</a></p>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>