
header {
  width: 100%;
  height: 100px;
  background-image: url("assets/img/barra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.logo {
  text-align: center;
}

.redes-sociales {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.redes-sociales img {
  width: 50px;
}

.privacidad {
  text-align: center;
}

p {
  font-size: 14px;
  margin: 10px;
  text-align: right;
}

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.columna {
  width: 50%;
  margin: 0 10px 0 10px;
}

img {
  width: 50%;
}


