 body {
  background-color: #398cff;
  background-image: url(imagen5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: transparent;
}

.hero {
  background-color: transparent;
  height: 500px;
}

.hero h1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.hero p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.hero a {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.telefonos {
  background-color: #ffffff;
  border-top: 1px solid #c9c9c9;
}

.telefonos h2 {
  margin-top: 10px;
}

.telefonos hr {
  border: 1px solid #c9c9c9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.telefonos .row {
  margin-bottom: 20px;
}

.telefonos .col-md-4 {
  padding: 15px;
}

.telefonos img {
  border: 1px solid #000000;
}

.telefonos h3 {
  font-size: 25px;
  color: #000000;
}

.telefonos p {
  font-size: 18px;
  color: #000000;
}

.telefonos a {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.footer a {
  color: #ffffff;
}

  .navbar-brand {
    font-size: 25px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero a {
    font-size: 20px;
  }

  .telefonos h2 {
    font-size: 24px;
  }

  .telefonos h3 {
    font-size: 20px;
  }

  .telefonos p {
    font-size: 16px;
  }

  .telefonos a {
    font-size: 18px;
  }

  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
  }
  
  .footer a {
    color: #ffffff;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col-md-4 {
    width: 33.33333333%;
  }
  
  .h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .footer-container {
    background-color: #006aff;
    padding: 10px;
    border: 1px solid #000000;
  }
  