{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CelMex</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #2f8efa;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
    }

    .header {
      background-color: #0d6efd;
    }

    .hero {
      padding: 100px 0;
      text-align: center;
    }

    .hero img {
      max-width: 100%;
      height: auto;
    }

    .telefonos {
      padding: 50px 0;
      text-align: center;
    }

    .product-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #0d6efd;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .product-container img {
      max-width: 100%;
      height: auto;
      border: 1px solid #0d6efd;
      border-radius: 10px;
    }

    .footer {
      background-color: #0d6efd;
      padding: 50px 0;
      color: white;
    }
  </style>
</head>

<body>


  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{% url 'core:index' %}">
          <img src="{% static 'images/logo2-removebg-preview(1).png' %}" alt="Tu Sitio Web" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'core:index' %}">Productos</a>
            <a class="nav-link" href="{% url 'core:accesorios' %}">Accesorios</a>
            <a class="nav-link" href="{% url 'core:planes' %}">Planes</a>
            <a class="nav-link active" href="{% url 'core:recargas' %}">Recargas</a>
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'home:index' %}">admin</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section class="telefonos">
    <div class="container">
      <h2 class="mb-4">Recargas</h2>
      <div class="row">
        {% for re in recargas %}
        <div class="col-md-4">
          <div class="product-container">
            <img src="{{ re.image.url }}" alt="{{ re.recarga_name }}"
              class="img-fluid rounded shadow-lg border border-primary">
            <h3>{{ re.recarga_name }}</h3>
            <h4 class="product-description">{{ re.description }}</h4>
            <h5>${{ re.price }}</h5>
            <a href="https://celmex.ola.click/products" class="btn btn-primary">Ver más</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Redes sociales</h3>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/profile.php?id=61551257362781&mibextid=ZbWKwL"
                class="btn btn-primary">Facebook</a></li>
            <li><a href="https://www.tiktok.com/@celmexoficial" class="btn btn-primary">TikTok</a></li>
            <li><a href="https://www.instagram.com/celmexoficial/" class="btn btn-primary">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Aviso de privacidad</h3>
          <a href="#" class="btn btn-primary">Ver aviso de privacidad</a>
          {% if request.user.is_authenticated %}
          <h6>Hola  {{ user }} </h6>
          <a href="{% url 'sesion:logout' %}" class="btn btn-primary">cerrar sesion</a>
          {% else %}
          <a href="{% url 'sesion:signup' %}" class="btn btn-primary">Le interesa trabajar con CELMEX</a>
       
          <a href="{% url 'sesion:login' %}" class="btn btn-primary">Ya chambeo en CELMEX</a>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Teléfono: 6647813717</p>
          <p>Correo electrónico: marcacelmex@gmail.com</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
