{% extends 'base/base.html' %}

{% block title %}Producto View{% endblock title %}

{% block content %}


<div class="container">
    <table class="table table-striped">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">Producto Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Description</th>
            <th class="text-center">Image</th>
            <th class="text-center">Stock</th>
            <th class="text-center">Status</th>
            <th class="text-center">Category</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
{% comment %}El ciclo for repite la informacion de la variable Armagay y esa info la porne en mexico poco a poco    {% endcomment %}
            {% for mexico in Armasgay %}
                <tr>
                    <td class="text-center">{{ mexico.id }}</td>
                    <td class="text-center">{{ mexico.product_name }}</td>
                    <td class="text-center">{{ mexico.price }}</td>
                    <td class="text-center">{{ mexico.description }}</td>
                    <td class="text-center">
                        <img src="{{ mexico.image.url }}" alt="{{ mexico.product_name }}" class="img-fluid" style="max-width: 100px;">
                    </td>
                    <td class="text-center">{{ mexico.stock }}</td>
                    <td class="text-center">{{ mexico.status }}</td>
                    <td class="text-center">{{ mexico.category }}</td>
                    <td class="text-center">
                        <a href="{% url 'home:detail_producto' mexico.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'home:update_producto' mexico.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'home:delete_producto' mexico.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
