{% extends 'base/base.html' %}

{% block title %}Accesorios View{% endblock title %}

{% block content %} 


<div class="container">
    <table class="table table-striped">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Description</th>
            <th class="text-center">Image</th>
            <th class="text-center">Stock</th>
            <th class="text-center">Status</th>
            <th class="text-center">Category</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
            {% for acc in accesorios %}
                <tr>
                    <td class="text-center">{{ acc.id }}</td>
                    <td class="text-center">{{ acc.accesorios_name }}</td>
                    <td class="text-center">{{ acc.price }}</td>
                    <td class="text-center">{{ acc.description }}</td>
                    <td class="text-center">
                        <img src="{{ acc.image.url }}" alt="{{ acc.accesorios_name }}" class="img-fluid" style="max-width: 100px;">
                    </td>
                    <td class="text-center">{{ acc.stock }}</td>
                    <td class="text-center">{{ acc.status }}</td>
                    <td class="text-center">{{ acc.category }}</td>
                    <td class="text-center">
                        <a href="{% url 'home:detail_accesorios' acc.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'home:update_accesorios' acc.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'home:delete_accesorios' acc.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}