{% extends 'base/base.html' %}

{% block title %}Accesorios View{% endblock title %}

{% block content %} 


<div class="container">
    <table class="table table-striped">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">User</th>
            <th class="text-center">Name</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
            {% for cat in category %}
                <tr>
                    <td class="text-center">{{ cat.id }}</td>
                    <td class="text-center">{{ cat.user }}</td>
                    <td class="text-center">{{ cat.name }}</td>
                    <td class="text-center">{{ cat.status }}</td>

                    <td class="text-center">
                        <a href="{% url 'home:detail_category' cat.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'home:update_category' cat.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'home:delete_category' cat.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}