{% extends 'base/base.html' %}

{% block title %}Detail Accesorios View{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ object }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="lead">{{ object.description }}</p>
                    <small><a href="{% url 'home:accesorios' %}" class="btn btn-link">Back to Home</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
