{% extends 'base/base.html' %}

{% block title %}New Accesorio View{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4 text-center">Nuevo Accesorio</h2>
            <form action="" method="post" class="form" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              
              <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'home:accesorios'%}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar Accesorio</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
