{% extends 'base/base.html' %}

{% block title %}Planes View{% endblock title %}

{% block content %}


<div class="container">
    <table class="table table-striped">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">recarga Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Description</th>
            <th class="text-center">Status</th>
            <th class="text-center">Category</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
            {% for plan in planes %}
                <tr>
                    <td class="text-center">{{ plan.id }}</td>
                    <td class="text-center">{{ plan.plan_name }}</td>
                    <td class="text-center">{{ plan.price }}</td>
                    <td class="text-center">{{ plan.description }}</td>
                    <td class="text-center">{{ plan.status }}</td>
                    <td class="text-center">{{ plan.category }}</td>
                    <td class="text-center">
                        <a href="{% url 'home:detail_planes' plan.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'home:update_planes' plan.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'home:delete_planes' plan.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
