{% extends 'base/base.html' %}

{% block title %}Accesorios View{% endblock title %}

{% block content %}


<div class="container">
    <table class="table table-striped">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">recarga Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Description</th>
            <th class="text-center">Status</th>
            <th class="text-center">Category</th>
        </thead>
        <tbody>
            {% for re in recargas %}
                <tr>
                    <td class="text-center">{{ re.id }}</td>
                    <td class="text-center">{{ re.recarga_name }}</td>
                    <td class="text-center">{{ re.price }}</td>
                    <td class="text-center">{{ re.description }}</td>
                    <td class="text-center">{{ re.status }}</td>
                    <td class="text-center">{{ re.category }}</td>
                    <td class="text-center">
                        <a href="{% url 'home:detail_recargas' re.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'home:update_recargas' re.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'home:delete_recargas' re.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
