{% extends 'base/base.html' %}

{% block title %}Update Accesorios View{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">Update Accesorios</div>

                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="mt-4">
                            <a href="{% url 'home:accesorios'%}" class="btn btn-outline-info">Cancel</a>
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
